@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import 'tailwindcss/utilities';


@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-8px);
    }
    50% {
      transform: translateX(8px);
    }
    75% {
      transform: translateX(-8px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-shake {
    animation: shake 0.5s ease-in-out;
  }
  